@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

body {
  margin: 0;
  /* background: rgb(0, 199, 139) url('bg.png') no-repeat center center; */
  background-size: cover;
  min-height: 100vh;
}

.app {
  position: relative;
  min-height: 100vh;
}

#pageLoader {
  background: cyan url('page-loader-fish.gif') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.socLinks:hover {
  transform: scale(1.2)
}

footer h2 {
  font-weight: 800;
  color: rgb(0, 129, 250)
}

#main {
  width: 900px;
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  position: relative;
  top: 90px;
  z-index: -1;
  margin: auto;
  border-radius: 10px;
  height: 500px;
  margin-bottom: 15px;
  font-size: 30px;
}

.prakruti {
  font-family: 'Finger Paint', cursive;
  font-size: 95px;
  background: -webkit-linear-gradient(rgb(13, 92, 52), rgba(82, 238, 243, 0.486), purple);
  letter-spacing: 15px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#prakrutiImg {
  height: 100px;
  position: relative;
  bottom: -25px;
}

.navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, white, rgb(215, 253, 240));
  height: 60px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item .fas {
  margin: 5px;
  margin-bottom: 0px;
  font-size: 30px;
}
.line {
  height: 4px;
  width: 100%;
  background-color: black;
}

#mainDiv {
  background: rgb(0, 199, 139) url('bg.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

#birdsFooter {
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
}

.birds {
  /* max-width: 250px; */
  /* width: 100%; */
  height: 100%;
  background: rgba(197, 243, 229, 0) url('birds2.gif');
  background-size: contain;
  background-repeat: repeat;
}
#contactsIcon {
  z-index: 1000;
}
/* Media query */

/* @media only screen and (max-width:800px) {
  footer {
    font-size: 1rem;
    word-wrap: break-word;
  }
  footer>div {
    flex-direction: column;
  }
  footer>div>div {
    margin-bottom: 35px;
  }
  footer>p {
    text-align: left;
  }

} */

@media only screen and (max-width:753px) {
  /* #prakrutiImg {
    position: relative;
    bottom: -42px;
  } */
}