body {
  margin: 0;
  background: rgb(0, 199, 139) url('bg.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh
}

.app {
  position: relative;
  min-height: 100vh;
}

#pageLoader {
  background: cyan url('page-loader-fish.gif') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.socLinks:hover {
  transform: scale(1.2)
}

footer h2 {
  font-weight: 800;
  color: rgb(0, 129, 250)
}


/* Media query */

@media only screen and (max-width:800px) {
  footer {
    font-size: 1rem;
    word-wrap: break-word;
  }
  footer>div {
    flex-direction: column;
  }
  footer>div>div {
    margin-bottom: 35px;
  }
  footer>p {
    text-align: left;
  }
}

@media only screen and (max-width:450px) {}